body {
	margin: 0;
	/* Body är en flex-container */
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header, main, footer {
	padding: 2em;
}

header {
	background-color: #3EBC68;
	/* flex-grow: 1; */
}

main {
	background-color: #bfeecf;
	flex-grow: 1;
}

footer {
	background-color: #1F3D29;
	color: #CADED1;
}


.vertical {
	width: 10em;
	height: 18em;
	border: 1px solid black;
	background-color: rgb(111, 177, 96);
	display: flex;
	flex-direction: column;
	padding: 0 1em;
}
.vertical > * {
	border: 1px solid black;
	background-color: rgb(228, 217, 143);
	flex-grow: 1;
	margin: 0.2em;
}

.horizontal {
	width: 18em;
	height: 10em;
	border: 1px solid black;
	background-color: rgb(111, 177, 96);
	display: flex;
	flex-direction: row;
	padding: 1em 0;
}
.horizontal > * {
	border: 1px solid black;
	background-color: rgb(228, 217, 143);
	flex-grow: 1;
	margin: 0.2em;
}

.container-row {
	display: flex;
	justify-content: space-between;
}